@import 'sass/_normalize.scss';
@import 'sass/_base.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 3.998em;
}

h2 {
    font-weight: 100;
    font-size: 3.157em;
}

h3 {
    font-size: 1.777em;
    font-weight: 100;
}

p {
    font-size: 1em;
}

a {
    color: $accent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px 7px;
}

.btn, button {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 800;
    padding: 10px 51px 7px;
    color: #FFF;
    letter-spacing: 1px;
    border: solid 2px $action;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.btn-text {
    @extend .btn;
    background: transparent;
}

.btn-primary {
    @extend .btn;
    background: $accent;
    border: solid 2px $accent;
    &:hover {
        background: $accent - 30;
        border-color: $accent - 30;
    }
}


.header {
    background: white;
    border-bottom: 1px solid $dgrey;
    color: $text;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: $text;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }
    li + li {
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}

.login-toggle {
    cursor: pointer;
}


// Homepage
.billboard {
    background-image: url('/cidade.png'), linear-gradient(#202023, #19283f);
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid $dgrey;
    padding: 40px 5%;
}


.app-layout {
    margin-left: 80px;
    min-height: 100vh;
    padding: 40px 60px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
    color: $text;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
.app-nav-client {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
    color: $text;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

table {
    font-size: 0.8em;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    tr:nth-child(even) {
        background: #EEE
    }
    td, th {
        text-align: left;
        padding: 10px 5px;
    }
    th {
        text-transform: uppercase;
        background: $dblue;
        color: #fff;
    }
    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
}

.user_id {
    color: $blue;
    cursor: pointer;
}

.user-edit {
    position  : absolute;
    left      : -300px;
    top       : 0;
    background: #FFF;
    z-index   : 10;
    padding   : 20px;
    width     : 280px;
    opacity   : 0;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    .close-edit-mode {
        position      : absolute;
        top           : 0;
        right         : 0;
        font-size     : 1.2em;
        font-weight   : 900;
        text-transform: uppercase;
        cursor        : pointer;
    }
}

.edit-mode .user-edit {
    opacity: 1;
}

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
